# Ignore everything
*

# But allow directories so we can selectively re-include files
!*/

# Keep root-level allowed files
!/.gitignore
!/README.md

# Allow specific folders
!/src/
!/inc/

# Include only .c files in src/
!/src/*.c

# Include only .h files in inc/
!/inc/*.h